<!DOCTYPE html>
<html ng-app>
<body>
  <p>Informe os valores de altura e peso e aperte enter</p>   
  <label>Altura <input ng-model="altura"/> m</label><br/>
  <label>Peso <input ng-model="peso"/> kg</label>
  <br/>
  <div id="resultado">  
        Seu imc é <p ng-model="imc">{{ peso / (altura * altura) | number }}</p>
        <br>        
  </div>
  <script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
</body>
</html>